<style>
    .loading{width:40px;height:40px;background-color:#1E64FF;margin:100px auto;-webkit-animation:sk-rotateplane 1.2s infinite ease-in-out;animation:sk-rotateplane 1.2s infinite ease-in-out}@-webkit-keyframes sk-rotateplane{0%{-webkit-transform:perspective(120px)}50%{-webkit-transform:perspective(120px) rotateY(180deg)}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}}@keyframes sk-rotateplane{0%{transform:perspective(120px) rotateX(0) rotateY(0);-webkit-transform:perspective(120px) rotateX(0) rotateY(0)}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}.brand{margin:auto}.brand p{color:#1E64FF;text-align:center;margin-top:-100px}

    header.css-cc3hwu-InstallmentRadiosHeader.eltfla65::before{
        width: 0px!important;
    }

    header.css-cc3hwu-InstallmentRadiosHeader.eltfla65{
        box-shadow: none!important;
    }
</style>
<div id="loadingContainer">
    <div class="loading"></div>
    <div class="brand">
        <p>iyzico</p>
        {% if form_type == 'onepage' %}
            <br>
            <p style="margin:40px;font-size:16px;">{{ onepage_desc }}</p>
        {% endif %}

    </div>
</div>

<div class="iyzico_checkout_form_payment" style="display:none;">
    <div class="iyzico-payment-form-wrapper" id="payment"></div>
    <div id="iyzipay-checkout-form" class="{{form_class}}"></div>
</div>

<script type="text/javascript">

    function getFormTokenCall(checkout) {

        var configTheme = '{{ config_theme }}';

        if (typeof iyziInit != 'undefined') {
            delete iyziInit;
        }
        $.ajax({
            url: 'index.php?route=extension/payment/iyzico/getcheckoutformtoken',
            type: 'post',
            dataType: 'json',
            cache: false,
            success: function(json) {

                if(json != null) {

                    if(checkout == 'onepage' && configTheme == 'journal3') {

                        $('.popup-checkout-payment').hide();
                        $('.journal-loading-overlay').hide();
                        $(html).css("overflow", "auto!important");

                        var html = '';

                        html += '<div class="iyzico_checkout_form_payment" style="display:none;">';
                        html += '	<div class="iyzico-payment-form-wrapper" id="payment"></div>';
                        html += '		<div id="iyzipay-checkout-form" class="responsive"></div>';
                        html += '</div>';

                        $('.quick-checkout-payment').append(html);
                    }

                    if (typeof json.checkoutFormContent != "undefined" && json.checkoutFormContent != "") {

                        $(".iyzico_checkout_form_payment").show( "slow", function() {

                            $('.iyzico-payment-form-wrapper').append(json.checkoutFormContent);

                            $(".iyzico-payment-form-wrapper").promise().done(function() {
                                $('#loadingContainer').css('display','none');
                            });

                        });

                        if(checkout == 'onepage' && configTheme != 'journal3') {
                            $(".checkout-loading").css("opacity","100");
                            $("#payment-confirm-button").css("pointer-events","visible");
                            $('#journal-checkout-confirm-button').css('display','none');
                        }
                    } else {

                        $(".iyzico_checkout_form_payment").show();
                        $('.iyzico-payment-form-wrapper').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button>' + json.errorMessage + '</div>');
                        $('#iyzico-loader').css('display','none');

                    }
                } else {

                    $(".iyzico_checkout_form_payment").show();
                    $('.iyzico-payment-form-wrapper').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button>Connection Error</div>');
                    $('#iyzico-loader').css('display','none');
                }
            }
        });

    }

    function customCheckoutFormTokenCall(checkout) {

        $(".confirm-button, #quick-checkout-button-confirm").click(function(e) {

            var ajaxData,errors,done = null;

            $( document ).ajaxComplete(function( event, xhr, settings ) {

                ajaxData      = JSON.parse(xhr.responseText);
                errors        = ajaxData.response.error;

                if(typeof errors != 'undefined' && errors == null && done == null) {

                    done = true;

                    return getFormTokenCall(checkout);

                }


            });

            e.preventDefault();

        });
    }

</script>

{% if form_type != 'onepage' %}
    <script>
        $(document).ready(function(){
            return getFormTokenCall('default');
        });
    </script>
{% elseif form_type == 'onepage' %}
    <style>
        .no-touchevents{
            overflow: auto!important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            return customCheckoutFormTokenCall('onepage');
        });
    </script>
{% endif %}
